.wrapper {
    background-image: $background-primary;
    height: 100vh;
    padding: 3%;
}

.pages-wrapper {
    background-image: $background-primary;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}

.align-items {
    align-items: center;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $navlink-active;
    background-color: $color-white;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5rem 10rem;
    width: 100%;
    height: 60%;
}

.error-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
}

.orange-button {
    
    margin-top: 4rem;
    
    & {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        border: none;
        color: $color-white;
        background: $background-button;
        transition: .3s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .navlink {
            text-decoration: none;
            color: $color-white;
        }
    }
    
    &:hover {
        transform: scale(1.05);
        transition: .3s all;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &:active {
        transform: scale(0.9);
        transition: .2s all;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
        
}

.button-small {
    & {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        border: none;
        color: $color-white;
        transition: .3s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .navlink {
            text-decoration: none;
            color: $color-white;
        }
    }
    
    &:hover:enabled {
        transform: scale(1.05);
        transition: .3s all;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &:active:enabled {
        transform: scale(0.9);
        transition: .2s all;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    &:hover:disabled, &:active:disabled {
        cursor: pointer;
    }
}

.bg-orange {
    background: $background-button;
}

.bg-red {
    background: $background-button-red;

    &:disabled {
        opacity: 25%;
    }
}

.group-items {
    margin-bottom: 2rem;
}

.row-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-item {
    width: 45%;
    font-size: 2rem !important;
}

.full-width {
    width: 90%;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

    .btn-submit {
        padding: 1rem 4rem;
        color: white;
    }

}

.submit-container-start {
    display: flex;
    justify-content: flex-start;
    margin-top: 5rem;

    .btn-submit {
        padding: 1rem 4rem;
        color: white;
    }
}


.toast-message {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}

.fs {
    font-size: 2rem;
}

.MuiTableContainer-root{
    font-size: 200px !important;
}

.landing-navbar {
    display: flex;
    justify-content: flex-end;
    animation: moveInTop 1s ease-out;
    height: 5%;
    align-items: center;

    &__item {
        color: #fff;
        font-size: 2rem;
        margin-right: 5rem;

        &:hover {
            cursor: pointer;
            color: #23343B;
        }
    }
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 3% 10%;
    height: 70%;
}

.table-row-class {
    font-size: 2rem;
    &:hover {
        background-color: #eee;
        cursor: pointer;
    }
}

.cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}

.home {

    display: flex;
    align-self: center;

    &:hover {
        cursor: pointer;
        color: white;
    }

    &__image {
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
        background-image: url('../assets/blood-drop-svgrepo-com.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 1rem;
    }

    &__text {
        display: flex;
        color: white;
        font-size: 2rem;
        align-items: center;

        &:hover {
            color: white 
        }
    }
    
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MuiTableHead-root {
    font-size: 2rem !important;
}

.MuiTableRow-root {
    font-size: 2rem !important;
}