$background-primary: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
$background-primary-1: linear-gradient(to right, #d3cce3, #e9e4f0);
$background-button: linear-gradient(to right, #ea9197, #ea9190);

$color-white: #fff;
$navlink-active: #23343B;


$control-primary: #7F7FD5;
$control-secondary: #d3cce3;

$label: #6E7491;
$color-black: #000;