@import './../../sass/variables';

.activation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $navlink-active;
    padding: 5rem 10rem;
    width: 50%;
    height: 50%
}