@import './../../sass/main.scss';

.registration {
    height: 120%;
    width: 90%;
    padding: 0rem 10rem;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__form {
        margin-top: 1rem;
        height: 90%;
    }
}

 

