.blood-bank-details-wrapper {
  width: 100%;
  padding: 5rem 2rem;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-form {
  width: 48%;
  height: 100%;
}

.blood-bank-details-wrapper form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blood-bank-details-wrapper label {
  width: 40%;
}

.blood-bank-details-wrapper input {
  width: 50%;
  height: 22px;
}

.blood-bank-details-wrapper ul {
  width: 80%;
  padding-left: 18px;
  margin-top: 4px;
}

.blood-bank-details-wrapper .button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blood-bank-details-wrapper .button-div button {
  width: 80px;
}

.map-div {
  width: 50%;
  height: 100%;
  border: 1px solid #a3a3e8;
  border-radius: .5rem;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
