.map-container {
    height: 95%;
    width: 80%;
    padding: 2rem 10rem;

    .map {
        height: 100%;
        width: 100%;
        border: 1px solid #a4a4e8;
        border-radius: 5px;
    }

    .leaflet-container {
        height: 100%;
    }
}