@import './../../../../sass/main.scss';

.text-field-control-wrapper {

    .MuiFormControl-root {
        margin-top: .8rem;
    }

    fieldset {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $control-primary;
    }

    label {
        color: $label;
        left: -1.4rem;

        &.Mui-focused {
            color: $label
        }
    }

    input {
        color: $label;
        padding-left: 0rem;
    }

    .Mui-focused {
        fieldset {
            border-color: $control-primary !important;
        }
    }
}