.blood-banks {
    padding: 2rem 5rem !important;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        height: 10%;
    }

    &__filter {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;

        &-filter {
            display: flex;
            align-items: center;

            .search-submit-container {
                margin-left: 1rem;
            }

        }

        .form-align {
            display: flex;
            align-items: center;

            .search-form-item {
                margin-right: 2rem;
            }

            .search-submit-container { 
                color: white !important;
            }
        }
    }

    &__table{
        font-size: 2rem !important;
        height: 70%;
        
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;
        
            &-table {
                width: 100%;
            }
        
            &-pagination {
                width: 100%;
            }
        }

        
    }
}